/*General rules*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



button:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.link {
    text-decoration: none;
    color: white;
}

.showing-footer {
    position: relative;
    z-index: 1000;
    bottom: 0;
}


li {
    list-style: none;
}

input:focus {
    outline: none;
}

.head-text {
    font-family: "Permanent Marker", cursive !important; 
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.num{
    position: relative;
}

.close-form-inputs {
    margin-top: -300px !important;
    transition: all 0.3s ease-in-out;
    z-index: 8;
}

.open-form-inputs {
    margin-top: 0 !important;
    transition: all 0.3s ease-in-out;
    z-index: 8;
}

.btn {
    border: unset !important;
    border-radius: unset !important;
}

.lengh {
    position: absolute;
    top: -5px;
    right: -5px;
    color: inherit;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    overflow-x: hidden !important;
    font-weight: 300;
}
.main {
    overflow-x: hidden !important ;
}
.btn-size {
    font-size: 25px !important;
}


.search-input::placeholder {
    text-transform: uppercase;
    font-variant: small-caps;
}



/*General rules*/
/*start navbar*/
nav {
    width: 100%;
    height: 50px;
    z-index: 1000;
    /* overflow: hidden; */
    background-color: rgba(255, 255, 255, 0.537);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

div.btns button,
.shop-now-btn{
    border: unset !important;
    border-radius: unset !important;
    background-color: transparent !important;
}



nav ul.list li .link {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    letter-spacing: 2px;
    padding: 10px 0;
    font-weight: 100;
    position: relative;
    transition: all 0.3s ease-in-out;
    animation: open-navbar 0.5s ease-in-out forwards;
    color: black !important;
}

.head-text {
    color: rgb(255, 157, 0);
}

.open-navbar {
    display: unset !important;
}

.close-navbar {
    display: none !important;
}


main .hero-section {
    position: relative !important;
    z-index: 100 !important;
}

@keyframes open-navbar {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.search-input {
    background: transparent;
    outline: none;
    border: 1px solid black;
    color: black;
    padding: 5px;
    height: 50px;
    text-transform: uppercase;
    font-size: 12px;
}

.search-input::placeholder {
    color:  black;
    font-size: 10px ;
    letter-spacing: 2px;
}

.name::placeholder {
    color:  black;
    font-size: 10px ;
    letter-spacing: 2px;
}

.search-input:focus::placeholder {
    color: transparent;
}


.register-input::placeholder {
color: black !important;
}
.arrow-icon {
    font-size: 40px ;
}
/*end navbar*/
/*start products page*/
.active {
    color: black;
    font-size: 30px !important;
    letter-spacing: 5px;
    font-weight: bold !important;
}

.btn {
    font-size: 10px !important;
    letter-spacing: 2px;
    outline: none !important;
    border: unset !important;
}

.active-btn {
    color: black;
    font-size: 30px !important;
    text-shadow: 0 0 10px white;
    letter-spacing: 5px;
}

.name-product {
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 10px;
}

.price-product {
    text-decoration: line-through;
    color: red;
    font-size: 8px;
    letter-spacing: 2px;
}

.body-product {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.img-card {
    position: relative;
}


.img-wrapper::before {
    content: "DETAILS";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    text-shadow: 0 0 10px white;
    color: black;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img-wrapper:hover::before {
    opacity: 1;
}




/*end products page*/
/*start responsiv*/

@media (max-width: 995px){
    .login .container .hide-img,
    .register .container .hide-img {
        display: none !important;
    }
    .login .container  .form,
    .register .container .form {
        width: 100% !important;
    }
}


@media (max-width: 430px) {
   



    nav ul li {
        justify-content: center;

    }

    .icons {
        width: 50% !important;
        display: flex;
        justify-content: space-around !important;
        align-items: center;
    }

    .arrow-icon {
        font-size: 20px !important;
    }

    .icons button {
        position: relative;
        animation: move-icons 0.5s ease-in-out forwards;
    }

    @keyframes move-icons {
        from {
            right: -100%;
        }

        to {
            right: 0;
        }
    }


    .cart-item {
        height: 300px !important;
        width: 50% !important;
    }

    footer li {
        font-size: 10px;
    } 

    .top-sold::after {
        font-size: 80px;
    }

    .pants-links {
        justify-content: center !important;
    }

    .footer {
        height: 300px !important;
    }

    .footer .container {
        height: 100% !important;
        justify-content: center !important;
        align-items: center !important;
    
    }
    .footer .container ul li {
        font-size: 7px !important;
    }

    .footer .container p {
        font-size: 11px !important;
    }

    
    .details-text {
        font-size: 5px !important;
    }
    .col-6 .text-box {
        gap: unset !important;
        height: 70% !important;
    }

    div.add-box {
        padding: unset !important;
    }

    .add-box .brand-name {
        font-size: 10px !important;
    }
    .price .price-product,
    .price .originalPrice-price {
        font-size: 5px !important;
    }
   
    div.price-box {
        padding: 10px 0 !important;
    }

    span.stock-product {
        font-size: 5px !important;
    }

    div.count-box .d-flex {
        width: 75% !important;
    }

    div.count-box .btn,
    div.count-box .count {
        font-size: 5px !important;
    }

    .btn-box {
        height: 40px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .btn-box button {
        font-size: 10px !important;
    }

    .btn-box .btn-size {
        background-color: black !important;
        color: white !important;
    }


    .count-box .btn {
        font-size: 20px !important;
    }

    .btn-add {
        height: 40px !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .btn-add button {
        font-size: 10px !important;
        padding: unset !important;
    }

    nav {
        height: 50px !important;
    }

    .top-sold::after {
        font-size: 40px;
        font-weight: 100;
    
    }
    .text {
        font-size: 20px !important;
    }

    .container .product-box {
        padding: 20px 0 !important;
        height: 50vh !important;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
    .container .product-box .image-box {
        padding: 0 !important;
    }

    .name-best-seller {
        font-size: 8px !important;
        margin: unset !important;
    }
    
    .discription-product {
        font-size: 5px !important;
    }

    .numbers-box{
        flex-direction: column !important;
        align-items: start !important;
        height: 50px;
        gap: 5px !important;;
    }

    .numbers-box .numbers-items {
        width: 100% !important;
        font-size: 5px !important;
        display: flex !important;
        justify-content: start !important;
        align-items: center !important;
        gap: 5px !important;
    }

    /* section {
        overflow-x: hidden !important;
    } */

    .price-number,
    .price-product {
        font-size: 5px !important;
    }
    
    .heart-icon {
        width: 20px !important;
        height: 20px !important;
    }
    .master-box {
        padding: 0 !important;
        height: 200px !important;
    }
    .cart-item {
        height: 100% !important;
    }
    .content-box .text-box{
        gap: 5px !important;
    }

    .text {
        letter-spacing: 2px !important;
    }

    div span.price-card {
        font-size: 12px !important;
    }

    div span.originalPrice-price {
        font-size: 12px !important;
    }
    span.stock-product {
        font-size: 12px !important;
    }

    .cart-box .text-box .btn-remove {
        margin-top: 20px !important;
        font-size: 8px !important;
    }

    .cart-box .text-box .name-product {
        font-size: 5px !important;
    }

}

@media (max-width: 885px) {
    .img-animate {
        height: 80% !important;
    }

    .text {
        font-size: 30px !important;
    }
}
/*end responsiv*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}